/target/*

.settings/*

.classpath

.project

target/*
/target/

/catalina.home_IS_UNDEFINED/*

--no-cache --update $FileName$:$FileNameWithoutExtension$.css

$FileNameWithoutExtension$.css:$FileNameWithoutExtension$.css.map