<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tp.ms.base.rest.typecoded.mapper.MsBaseBilltypeMapper">
  <resultMap id="BaseResultMap" type="tp.ms.base.rest.typecoded.vo.MsBaseBilltype">
    <id column="pk_billtype" jdbcType="VARCHAR" property="pkBilltype" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="module_name" jdbcType="VARCHAR" property="moduleName" />
    <result column="package_name" jdbcType="VARCHAR" property="packageName" />
    <result column="component" jdbcType="VARCHAR" property="component" />
    <result column="component_type" jdbcType="INTEGER" property="componentType" />
    <result column="ui_path" jdbcType="VARCHAR" property="uiPath" />
    <result column="pk_corp" jdbcType="VARCHAR" property="pkCorp" />
    <result column="pk_group" jdbcType="VARCHAR" property="pkGroup" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="creationtime" jdbcType="VARCHAR" property="creationtime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modifiedtime" jdbcType="VARCHAR" property="modifiedtime" />
    <result column="enabled" jdbcType="SMALLINT" property="enabled" />
    <result column="approve_status" jdbcType="SMALLINT" property="approveStatus" />
    <result column="bill_status" jdbcType="SMALLINT" property="billStatus" />
    <result column="process_id" jdbcType="VARCHAR" property="processId" />
    <result column="ts" jdbcType="CHAR" property="ts" />
    <result column="dr" jdbcType="SMALLINT" property="dr" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    pk_billtype, code, name, module_name, package_name, component, component_type, ui_path, 
    pk_corp, pk_group, creator, creationtime, modifier, modifiedtime, enabled, approve_status, 
    bill_status, process_id, ts, dr
  </sql>
  <select id="selectByExample" parameterType="tp.ms.base.rest.typecoded.vo.MsBaseBilltypeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ms_base_billtype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ms_base_billtype
    where pk_billtype = #{pkBilltype,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ms_base_billtype
    where pk_billtype = #{pkBilltype,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="tp.ms.base.rest.typecoded.vo.MsBaseBilltypeExample">
    delete from ms_base_billtype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="tp.ms.base.rest.typecoded.vo.MsBaseBilltype">
    insert into ms_base_billtype (pk_billtype, code, name, 
      module_name, package_name, component, 
      component_type, ui_path, pk_corp, 
      pk_group, creator, creationtime, 
      modifier, modifiedtime, enabled, 
      approve_status, bill_status, process_id, 
      ts, dr)
    values (#{pkBilltype,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{moduleName,jdbcType=VARCHAR}, #{packageName,jdbcType=VARCHAR}, #{component,jdbcType=VARCHAR}, 
      #{componentType,jdbcType=INTEGER}, #{uiPath,jdbcType=VARCHAR}, #{pkCorp,jdbcType=VARCHAR}, 
      #{pkGroup,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{creationtime,jdbcType=VARCHAR}, 
      #{modifier,jdbcType=VARCHAR}, #{modifiedtime,jdbcType=VARCHAR}, #{enabled,jdbcType=SMALLINT}, 
      #{approveStatus,jdbcType=SMALLINT}, #{billStatus,jdbcType=SMALLINT}, #{processId,jdbcType=VARCHAR}, 
      #{ts,jdbcType=CHAR}, #{dr,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="tp.ms.base.rest.typecoded.vo.MsBaseBilltype">
    insert into ms_base_billtype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pkBilltype != null">
        pk_billtype,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="moduleName != null">
        module_name,
      </if>
      <if test="packageName != null">
        package_name,
      </if>
      <if test="component != null">
        component,
      </if>
      <if test="componentType != null">
        component_type,
      </if>
      <if test="uiPath != null">
        ui_path,
      </if>
      <if test="pkCorp != null">
        pk_corp,
      </if>
      <if test="pkGroup != null">
        pk_group,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="creationtime != null">
        creationtime,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifiedtime != null">
        modifiedtime,
      </if>
      <if test="enabled != null">
        enabled,
      </if>
      <if test="approveStatus != null">
        approve_status,
      </if>
      <if test="billStatus != null">
        bill_status,
      </if>
      <if test="processId != null">
        process_id,
      </if>
      <if test="ts != null">
        ts,
      </if>
      <if test="dr != null">
        dr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pkBilltype != null">
        #{pkBilltype,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="moduleName != null">
        #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="packageName != null">
        #{packageName,jdbcType=VARCHAR},
      </if>
      <if test="component != null">
        #{component,jdbcType=VARCHAR},
      </if>
      <if test="componentType != null">
        #{componentType,jdbcType=INTEGER},
      </if>
      <if test="uiPath != null">
        #{uiPath,jdbcType=VARCHAR},
      </if>
      <if test="pkCorp != null">
        #{pkCorp,jdbcType=VARCHAR},
      </if>
      <if test="pkGroup != null">
        #{pkGroup,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creationtime != null">
        #{creationtime,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifiedtime != null">
        #{modifiedtime,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=SMALLINT},
      </if>
      <if test="approveStatus != null">
        #{approveStatus,jdbcType=SMALLINT},
      </if>
      <if test="billStatus != null">
        #{billStatus,jdbcType=SMALLINT},
      </if>
      <if test="processId != null">
        #{processId,jdbcType=VARCHAR},
      </if>
      <if test="ts != null">
        #{ts,jdbcType=CHAR},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="tp.ms.base.rest.typecoded.vo.MsBaseBilltypeExample" resultType="java.lang.Long">
    select count(*) from ms_base_billtype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ms_base_billtype
    <set>
      <if test="record.pkBilltype != null">
        pk_billtype = #{record.pkBilltype,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleName != null">
        module_name = #{record.moduleName,jdbcType=VARCHAR},
      </if>
      <if test="record.packageName != null">
        package_name = #{record.packageName,jdbcType=VARCHAR},
      </if>
      <if test="record.component != null">
        component = #{record.component,jdbcType=VARCHAR},
      </if>
      <if test="record.componentType != null">
        component_type = #{record.componentType,jdbcType=INTEGER},
      </if>
      <if test="record.uiPath != null">
        ui_path = #{record.uiPath,jdbcType=VARCHAR},
      </if>
      <if test="record.pkCorp != null">
        pk_corp = #{record.pkCorp,jdbcType=VARCHAR},
      </if>
      <if test="record.pkGroup != null">
        pk_group = #{record.pkGroup,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null">
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.creationtime != null">
        creationtime = #{record.creationtime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifier != null">
        modifier = #{record.modifier,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedtime != null">
        modifiedtime = #{record.modifiedtime,jdbcType=VARCHAR},
      </if>
      <if test="record.enabled != null">
        enabled = #{record.enabled,jdbcType=SMALLINT},
      </if>
      <if test="record.approveStatus != null">
        approve_status = #{record.approveStatus,jdbcType=SMALLINT},
      </if>
      <if test="record.billStatus != null">
        bill_status = #{record.billStatus,jdbcType=SMALLINT},
      </if>
      <if test="record.processId != null">
        process_id = #{record.processId,jdbcType=VARCHAR},
      </if>
      <if test="record.ts != null">
        ts = #{record.ts,jdbcType=CHAR},
      </if>
      <if test="record.dr != null">
        dr = #{record.dr,jdbcType=SMALLINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ms_base_billtype
    set pk_billtype = #{record.pkBilltype,jdbcType=VARCHAR},
      code = #{record.code,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      module_name = #{record.moduleName,jdbcType=VARCHAR},
      package_name = #{record.packageName,jdbcType=VARCHAR},
      component = #{record.component,jdbcType=VARCHAR},
      component_type = #{record.componentType,jdbcType=INTEGER},
      ui_path = #{record.uiPath,jdbcType=VARCHAR},
      pk_corp = #{record.pkCorp,jdbcType=VARCHAR},
      pk_group = #{record.pkGroup,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      creationtime = #{record.creationtime,jdbcType=VARCHAR},
      modifier = #{record.modifier,jdbcType=VARCHAR},
      modifiedtime = #{record.modifiedtime,jdbcType=VARCHAR},
      enabled = #{record.enabled,jdbcType=SMALLINT},
      approve_status = #{record.approveStatus,jdbcType=SMALLINT},
      bill_status = #{record.billStatus,jdbcType=SMALLINT},
      process_id = #{record.processId,jdbcType=VARCHAR},
      ts = #{record.ts,jdbcType=CHAR},
      dr = #{record.dr,jdbcType=SMALLINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="tp.ms.base.rest.typecoded.vo.MsBaseBilltype">
    update ms_base_billtype
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="moduleName != null">
        module_name = #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="packageName != null">
        package_name = #{packageName,jdbcType=VARCHAR},
      </if>
      <if test="component != null">
        component = #{component,jdbcType=VARCHAR},
      </if>
      <if test="componentType != null">
        component_type = #{componentType,jdbcType=INTEGER},
      </if>
      <if test="uiPath != null">
        ui_path = #{uiPath,jdbcType=VARCHAR},
      </if>
      <if test="pkCorp != null">
        pk_corp = #{pkCorp,jdbcType=VARCHAR},
      </if>
      <if test="pkGroup != null">
        pk_group = #{pkGroup,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creationtime != null">
        creationtime = #{creationtime,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifiedtime != null">
        modifiedtime = #{modifiedtime,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=SMALLINT},
      </if>
      <if test="approveStatus != null">
        approve_status = #{approveStatus,jdbcType=SMALLINT},
      </if>
      <if test="billStatus != null">
        bill_status = #{billStatus,jdbcType=SMALLINT},
      </if>
      <if test="processId != null">
        process_id = #{processId,jdbcType=VARCHAR},
      </if>
      <if test="ts != null">
        ts = #{ts,jdbcType=CHAR},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=SMALLINT},
      </if>
    </set>
    where pk_billtype = #{pkBilltype,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="tp.ms.base.rest.typecoded.vo.MsBaseBilltype">
    update ms_base_billtype
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      module_name = #{moduleName,jdbcType=VARCHAR},
      package_name = #{packageName,jdbcType=VARCHAR},
      component = #{component,jdbcType=VARCHAR},
      component_type = #{componentType,jdbcType=INTEGER},
      ui_path = #{uiPath,jdbcType=VARCHAR},
      pk_corp = #{pkCorp,jdbcType=VARCHAR},
      pk_group = #{pkGroup,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      creationtime = #{creationtime,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR},
      modifiedtime = #{modifiedtime,jdbcType=VARCHAR},
      enabled = #{enabled,jdbcType=SMALLINT},
      approve_status = #{approveStatus,jdbcType=SMALLINT},
      bill_status = #{billStatus,jdbcType=SMALLINT},
      process_id = #{processId,jdbcType=VARCHAR},
      ts = #{ts,jdbcType=CHAR},
      dr = #{dr,jdbcType=SMALLINT}
    where pk_billtype = #{pkBilltype,jdbcType=VARCHAR}
  </update>
</mapper>